/* this css shoule be only used for IE
Ref: https://stackoverflow.com/questions/43528940/how-to-detect-ie-and-edge-browsers-in-css
*/

@media all and (-ms-high-contrast:none){
  /*remove max-height if IE11*/
  .middle-content .main-logo-wrapper img{ 
    max-height: none;
  }
}

@media all and (-ms-high-contrast:none) and (min-width: 768px) and (min-height: 901px){
  .middle-content .main-logo-wrapper img{ 
    width: 380px;
    height: 453px;
  }
}



@media all and (-ms-high-contrast:none) and (min-width: 768px) and (max-height: 900px){
  .middle-content .main-logo-wrapper img{ 
    width: 250px;
    height: 374.47px;
  }
}


@media all and (-ms-high-contrast:none) and (min-width: 768px) and (max-height: 730px){
  .middle-content .main-logo-wrapper img{ 
    width: 200px;
    height: 299.2px;
  }
}