#token-sale {
    background: #3f4045;
    margin-bottom: 30px;
    padding-bottom: 50px;
    color: #ffffff;
}

#token-sale .heading-container {
    text-align: center;
}

#token-sale .heading-container h2 {
    color: #ff4848;
}

#buy-panel {
    background: #181515;
    border-radius: 15px 0px 0px 15px;
}

#buy-panel .inner {
    padding: 1em;
}

#value-panel {
    background: #262222;
    border-radius: 0px 15px 15px 0px;
}

#value-panel .grid {
    padding: 1em;
}

.spinning-logo img {
    width: 100%;
    height: auto;
    max-width: 250px;
}

.input-amount {
    width: 100%;
    display: block;
    padding: 1em;
    background: #3f4045;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

#send-amount {
    max-width: 75%;
    margin: 2em auto;
}

#send-address {
    max-width: 75%;
    margin: 0 auto 1em auto;
}

#donate-amount {
    max-width: 300px;
    margin: 2em auto;
}

#wallet-address {
    font-weight: 700;
}

.login-options {
    margin-top: 1em !important;
}

.login-options p {
    font-size: 0.9em;
    margin-top: 1em;
    color: #cccccc;
}

#donate-dimmer p {
    width: 50%;
    margin: 0 auto;
}

#seed-dimmer p {
    width: 75%;
    margin: 0 auto;
}

#wallet-seed {
    font-size: 2em;
    margin: 2em auto !important;
    width: 50% !important;
    color: #9243a2;
    text-align: center;
    background: #111111;
    display: block;
    resize: none;
}

#wallet-dimmer hr {
    margin-bottom: 4em;
    border-color: #222;
}

#wallet-dimmer .column {
    min-height: 350px;
}

#wallet-dimmer h4 {
    line-height: 0.9em;
    margin-top: 0;
    color: #aaa;
}

#donate-dimmer .actions {
    margin-bottom: 2em;
}

.input-amount.error {
    border-color: red;
}

#currency-selector {
    margin: 2em 0 2em 0;
}

#currency-selector select {
    padding: 0.4em 1em;
    margin-left: 1em;
}

#address-balance {
    font-size: 0.9em;
    color: #999;
    margin-top: 0.1em;
}

#buy-tokens {
    width: 100%;
    display: block;
    margin: 1em 0 2em 0;
}

.price-box {
    text-align: center;
    height: 132px;
}

.login-box {
    text-align: center;
}

.price-box, #transaction-history-container, .login-box {
    padding: 1.8em;
    background: #483c3c;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #0000001a;
}

.price-box.token-balance {
    padding: 2.7em 1.8em;
}

.price-box.blue {
    background-color: #403233
;
}

.price-box.green, .login-box.green {
    background: #442b2b
;
}

.price-box .title, .login-box .title {
    color: #fff2d2 !important;
    font-size: 1.2em;
}

.price-box .value, .login-box .value {
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 700;
    transition: color 0.5s ease;
    margin: 0.5em 0 0.3em 0;
}

.price-box .value-usd, .login-box .value-usd {
    color: #b7b7b7;
}

.poh-value {
    transition: color 0.5s ease;
}

.poh-value.up {
    color: #80e080;
}

.poh-value.down {
    color: #e08080;
}

.traffic-message {
    font-size: 0.8em;
    color: #999999;
}

#token-sale .methods {
    margin-top: 4em;
}

#token-sale .method.button {
    margin-bottom: 1em;
    min-width: 220px;
}

#token-sale .methods p {
    color: #fff2d2 ;
}

#token-sale .inverted.dimmer * {
    color: #444444 !important;
}

#token-sale .dimmer .inner {
    text-align: center;
    padding-top: 10em;
}

#token-sale .interface {
    border-radius: 20px;
}

.contract-balance-container {
    text-align: right;
}

@media only screen and (max-width: 700px) {
    .contract-balance-container {
        text-align: center;
    }
}

#transaction-history {
    height: 300px;
    overflow-y: scroll;
}

#transaction-history .record {
    line-height: 1.8em;
}

#transaction-history .time {
    color: #999999;
    margin-right: 1em;
}

#unlock-wallet-container {
    display: none;
}

#exported-seed, #exported-private-key {
    display: none;
    width: 90%;
    padding: 1em;
    resize: none;
}

#exported-private-key {
    font-size: 0.9em;
    text-align: center;
}

#exported-seed {
    height: 74px;
    font-size: 1.2em;
}

#eth-public-address {
    text-align: center;
    margin-bottom: 3em;
}

#eth-address-container {
    text-align: center;
}

a#copy-eth-address {
    color: #ffffff;
    margin-left: 1em;
}

#meta-mask-ui.logged-out .when-logged-in {
    display: none;
}

#meta-mask-ui.logged-in .when-logged-out {
    display: none;
}

#meta-mask-ui.logged-out .when-wallet-web {
    display: none;
}

#meta-mask-ui.wallet-mm .when-wallet-web {
    display: none;
}

